mixin rateButton(simbol1, simbol2, simbol3, simbol4, simbol5)
  div.rateButton
    div.rateButton_centre.material-icons.material_gradient= simbol1
    div.rateButton_centre.material-icons.material_gradient= simbol2
    div.rateButton_centre.material-icons.material_gradient= simbol3
    div.rateButton_centre.material-icons.material_gradient= simbol4
    div.rateButton_centre.material-icons.material_gradient= simbol5